* {
  box-sizing: border-box;
}

.carousel {
  position: relative;
  width: 23rem;
  height: 23rem;
  perspective: 500px;
  transform-style: preserve-3d;
}

.card-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(calc(var(--offset) * 50deg))
    scaleY(calc(1 + var(--abs-offset) * -0.4))
    translateZ(calc(var(--abs-offset) * -30rem))
    translateX(calc(var(--direction) * -5rem));
  filter: blur(calc(var(--abs-offset) * 1rem));
  transition: all 0.3s ease-out;
}

.card {
  width: 70%;
  height: 100%;
  padding: 2rem;
  margin-left: 63px;
  /* background-color: rgb(247, 194, 194); */
  background-image: url("images/weather2.jpg");
  /* background-image: url("images/weatherlayer (1).png"); */
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  opacity: 0.9;
  /* background-color: aliceblue; */
  border: solid 2px rgb(0, 0, 0);
  border-radius: 1rem;
  font-weight: bold;
  color: #000000;
  text-align: justify;
  transition: all 0.3s ease-out;
}
img {
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

.card p {
  transition: all 0.3s ease-out;
  opacity: var(--active);
  font-weight: bolder;
}

.nav {
  color: #0b0b0b;
  font-size: 5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  user-select: none;
  background: unset;
  border: unset;
}

.nav.left {
  transform: translateX(-100%) translateY(-20%);
}

.nav.right {
  right: 0;
  transform: translateX(100%) translateY(-20%);
}
